.order {
    background: url(../img/form__bg.png) center center no-repeat;
}
.order__container {
    color: #fff;
    padding: 205px 92px;
}
.title__order {
    color: #fff;
    margin-bottom: 65px;
}
.form {
    display: flex;
    width: 1050px;
}

.form__col {
    flex: 1;
    margin-right: 5px;
    max-width: 484px;
    
    &:last-child {
        margin-right: 0;
    }
}
.form__row {
    display: flex;
    margin-bottom: 18px;
    flex: 1;
    margin-right: 0;
}
.form__block {
    flex: 1;
    margin-right: 20px; 
}
.form__input {
    width: 100%;
    border: none;
    padding: 18px 11px;
    border: solid 3px transparent;
    border-radius: 4px;

    &--textarea {
        margin-bottom: 15px;
        height: 152px;
        width: 450px;
        resize: none;
        border: solid 3px transparent;
    }

    &:focus {
        border-color: #FFD517;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
}
